* {
  box-sizing: border-box;
}
nav {
  margin-top: -14px;
  width: 100%;
}
body {
  background-image: url("https://img.freepik.com/free-vector/cool-blue-parchment_53876-86280.jpg?t=st=1664089939~exp=1664090539~hmac=df305e676bf5d9e4ecad192c117e15c7c43c78c3fcb3976e3e1c3c60f0c19b7b");
  background-size: 90% 90%;
  background-repeat: inherit;
}

.container {
  padding: 16px;
}

.name_container {
  display: flex;
}

.registerbtn {
  background-color: #0473aa;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.unlist li {
  display: inline;
}
.unlist {
  word-spacing: 50px;
  padding: 10px;
  background-image: linear-gradient(to right, #67afad, #09dfff);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: solid;
  font-family: sans-serif;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
button {
  background-color: #0473aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
loginbtn{
  width:50%
  }